<header>

    <div class="footerNavContainer">
        <nav class="footerNav">
        
            <a class="h2 nav-btn" routerLink="/home">Home</a>
            <a class="h2 nav-btn" routerLink="/dashboard">Dashboard</a>
            <a class="h2 nav-btn" routerLink="/mission">Mission</a>
            <a class="h2 nav-btn" routerLink="/credits">Credits</a>

            @if (isloading) {
                <div style="cursor: pointer;">
                    <a class="h2 RegisterBtn">Loading</a>
                </div>
            }

            @else{
                <div>
                    @if (isauthenticated) {
                        <a class="h2 register-btn" (click)="auth.logout()" >Logout</a>
                    }
                    @else {
                        <a class="h2 register-btn" (click)="auth.loginWithRedirect()" >Login</a>
                    }
                </div>
            }    
        
        </nav>
    </div>
</header>