.mission-container {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     padding: 2rem;
     background-color: var(--primary100);
 }
 
 .mission-content {
     max-width: 600px;
     text-align: center;
     color: #000000;
    padding-bottom: 10vh;
    padding-top: 10vh;
 }
 
 .mission-title {
    font-size: 1.5em;
    margin-bottom: 3rem;
    font-weight: bold;
    font-family: var(--header-serif-font);
 }

 .mission-content h2 {
    
     font-size: 1.25rem;
     margin-bottom: 1rem;
     text-align: left;
     font-family: "Source Serif 4", serif;
 }
 
 .mission-content p {
     font-size: 1rem;
     line-height: 1.6;
     text-align: left;
     font-family: "Source Serif 4", serif;
     margin-bottom: 1rem;
 }