.home-container {
    padding: 30px;
    padding-top: 0px;
    display: flex;
    height: 200vh;
    flex-direction: column;
}

.summary-container {
    background-color: var(--bg100);
    padding: 20px;
    border-radius: 20px;

}

.summary-container h2{
    font-size: 1.25rem;
    font-family: var(--header-sans-font);
    color: var(--primary800);
    margin-bottom: 2rem;
}

.card-container {
    display: flex;
    justify-content: space-around;
}



.summary-card {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    backdrop-filter: blur(10px);
    height: 120px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.summary-card:hover {
    opacity: 0.8;

    .summary-card-hover {
        display: block;
    }
}

.summary-card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.summary-card-hover{
    display:none;
    animation: fadeIn 0.3s forwards;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translatex(-10px); }
    to { opacity: 1; transform: translatex(0); }
}

.summary-card-title{
    display: flex;
    align-items: center;
    gap: 10px;
}

.summary-card svg {
    width: 35px;
    height: 35px;
    padding: 7px;
    border-radius: 100px;
    margin-bottom: 10px;
    background-color: var(--bg100);
}

.summary-card h3 {
    font-size: 1rem;
    font-family: var(--oxygen-font, sans-serif);
    color: var(--primary800);
    margin-bottom: 10px;
}

.summary-card h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: var(--bg100);
    padding: 5px;
    border-radius: 200px;
    font-family: var(--oxygen-font, sans-serif);
    color: var(--primary800);
    text-align: right;
    margin: 0;
}

.summary-card:nth-child(1) {
    background-color: #ff88c571;
}

.summary-card:nth-child(2) {
    background-color: #76afff80;
}

.summary-card:nth-child(3) {
    background-color: #58e55876;
}