main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    overflow-y: hidden;
    background-color: var(--bg200);
}


.dashboard-content-container{
    flex: 1;
    overflow-y: hidden;
    display: flex;
}

.dashboard-content{
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

router-outlet{
    padding: 10px;
}

.dashboard-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg100);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid var(--bg300);
    height: 30px;
    padding: 30px;
    margin-top: 0px;
    margin: 10px;
    top: 10px;
    position: sticky;
}

.dashboard-content-header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        object-fit: cover;
    }
}

.dashboard-content-header-right-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--bg300);
    border-radius: 100px;
    padding: 10px;


    svg{
        width: 24px;
        height: 24px;
        cursor: pointer;
        stroke: var(--primary800);
        stroke-width: 1.5px;
        transition: all 0.3s ease-in-out;
    }
}

.dashboard-content-header-right-icons svg:hover{
    stroke: var(--primary600);
}

.dashboard-content-header h1{

    font-size: 1.2rem;
    font-family: var(--header-sans-font);
    color: var(--primary800);
}

.dashboard-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
}

.dashboard-nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50px;
    border-radius: 10px;
    height: 50px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    color: var(--primary800);
    font-family: var(--body-sans-font);
    font-size: 0.7rem;
    transition: all 0.3s ease-in-out;
}

.dashboard-nav a:hover{
    background-color: var(--primary800);
    border-radius: 10px;
    color: var(--primary100);

    svg{
        stroke: var(--primary100);
    }
}

.dashboard-nav a svg{
    width: 24px;
    height: 24px;
    stroke-width: 1.5px;
    stroke: var(--primary800);
}

.active{
    background-color: var(--primary800);
    color: var(--primary100) !important;
    border-radius: 10px;

    svg{
        stroke: var(--primary100) !important;
    }
}

mat-calendar{
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--bg300);
    background-color: var(--bg100);
    padding: 10px;
}
