@theme {
  --primary100: var(--primary100);
  --primary200: var(--primary200);
  --primary300: var(--primary300);
  --accent100: var(--accent100);
  --accent200: var(--accent200);
  --text100: var(--text100);
  --text200: var(--text200);
  --bg100: var(--bg100);
  --bg200: var(--bg200);
  --bg300: var(--bg300);
}

@import 'tailwindcss';


@layer base {
  .theme-default {
    --primary800: #070c2d;
    --primary600: #76afff;
    --primary400: #bbdeff;
    --primary100: #ffffff;
    --accent400: #9efaa2;
    --accent100: #68ff77;
    --text100: #333333;
    --text200: #5c5c5c;
    --bg100: #FFFFFF;
    --bg200: #f5f5f5;
    --bg300: #cccccc;
  }

  .theme-professional {
    --primary800: #121213;
    --primary600: #3B82F6;
    --primary400: #757de8;
    --primary100: #ffffff;
    --accent100: #0F766E;
    --accent200: #115E59;
    --text100: #0F172A;
    --text200: #334155;
    --bg100: #F8FAFC;
    --bg200: #E2E8F0;
    --bg300: #94A3B8;
  }

  body {
    margin: 0;
    background-color: var(--bg100);
    color: var(--text100);
    transition: background-color 0.2s ease, color 0.2s ease;

    --header-serif-font: 'Gloock', serif;
    --header-sans-font: 'Alata', sans-serif;
    --body-sans-font: 'Alata', sans-serif;



    .primary-btn {
        font-family: var(--body-sans-font);
        background-color: var(--primary600);
        color: var(--primary100);
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .primary-btn:hover {
        background-color: var(--primary800);
        color: var(--primary100);
    }

    .secondary-btn {
        font-family: var(--body-sans-font);
        background-color: transparent;
        color: var(--primary600);
        border: 1px solid var(--primary600);
        padding: 0.5rem 1rem;
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .secondary-btn:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
        color: var(--primary800);
        border: 1px solid var(--primary800);
    }

    .link-btn {
        font-family: var(--body-sans-font);
        text-decoration: none;
        background-image: linear-gradient(var(--primary600), var(--primary600));
        background-size: 0% 0.15em;
        background-position-y: 100%;
        background-position-x: 100%;
        background-repeat: no-repeat;
        transition: background-size 0.2s ease-in-out;
    }
    .link-btn:hover,
    .link-btn:focus,
    .link-btn:active {
        cursor: pointer;
        background-size: 100% 0.15em;
        background-position-x: 0%;
    }

  }
}




